.fetchData {
	border: 1px solid blue;
	background-color: cornflowerblue;
	color: white;
	padding: 20px;
}
.click {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
}
.click {
	color: #ff6f47;
	background: #f7fffe;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 10px;
}
.click:hover {
	background: #ff6f47;
	color: white;
}
.mask-custom {
	--moz-backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.15);
}
