.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	background-color: #ffff;
	padding: 0;
	margin: 0;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
h1 {
	color: aqua;
	font-size: 40px;
}
.imge {
	margin-left: 10px;
	height: 50px;
}
